.category-preview-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.875em;
  
    .title {
      font-size: 1.75em;
      margin-bottom: 1.5625em;
      cursor: pointer;
    }
  
    .preview {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 1.25em;
    }
  }
  