.cart-icon-container {
    width: 2.8125em;
    height: 2.8125em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .shopping-cart-icon {
      width: 1.5em;
      height: 1.5em;
    }
  
    .item-count {
      position: absolute;
      font-size: 0.625em;
      font-weight: bold;
      bottom: 1.25em;
    }
  }
  