.cart-dropdown-container {
    position: absolute;
    width: 15em;
    height: 25em;
    display: flex;
    flex-direction: column;
    padding: 1.25em;
    border: 0.0625em solid black;
    background-color: white;
    top: 5.625em;
    right: 2.5em;
    z-index: 5;
  
    .empty-message {
      font-size: 1.125em;
      margin: 3.125em auto;
    }
  
    .cart-items {
      height: 25em;
      display: flex;
      flex-direction: column;
      overflow: scroll;
    }
  
    button {
      margin-top: 23.125em;
    }
  }
  